.nav{
    background-color: red;
    height: 30px;
    text-align: center;
    width: 100%;
}

p1{
    text-align:center;
    color: white;
    font-size: 30px;
}

.gvInput{
    width: 80%;
    border: solid 2px black;
    top: 555px;
    position: absolute;
    left: 51px;
    height: 277px;
    z-index: 1;
}

